{{#if resume.interests.length}}
<section class="section">
  <header>
    <h2 class='section-title' class='section-title'>Non-Professional Interests</h2>
  </header>
  <section id="interests">
    <ul class="comma-list">
      {{#each resume.interests}}
        {{#if name}}
        <li>
          {{name}}
        </li>
        {{/if}}
      {{/each}}
    </ul>
  </section>
</section>
{{/if}}
